logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules/
npm-debug.log

dist/
build/

.env
.env.local
.env.development
.env.test
.env.production

.DS_Store
Thumbs.db

.vscode/
.idea/

data/
mongo_data/

coverage/
.nyc_output/

.cache/
.next/
out/
turbo/