services:
  # 1. MongoDB
  mongo:
    image: mongo:6
    container_name: otuzaltipoz-mongo
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo:/data/db
    networks:
      - app-network

  # 2. RabbitMQ
  rabbitmq:
    image: rabbitmq:3-management
    container_name: otuzaltipoz-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - app-network

  # 3. Redis
  redis:
    image: redis:alpine
    container_name: otuzaltipoz-redis
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
